<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Schedule app{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}">

    <script type='text/javascript' src="{% static 'moment/min/moment.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/locale/cs.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar-scheduler/dist/scheduler.min.js' %}"></script>
</head>

<body>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="calendar"></div>
            <div id="fullCalModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">close</span></button>
                            <h4 id="modalTitle" class="modal-title"></h4>
                        </div>
                        <div id="modalBody" class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script type='text/javascript'>
                $(document).ready(function () {
                    var calendar = $('#calendar');

                    // page is now ready, initialize the calendar...
                    $('#calendar').fullCalendar({
                        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',

                        // put your options and callbacks here

                        header: {
                            left: 'today prev,next',
                            center: 'title',
                            right: 'timelineDay,timelineTenDay,month'
                        },
                        defaultView: 'timelineTenDay',
                        views: {
                            timelineDay: {
                                buttonText: 'Schedule me',
                                slotDuration: '00:15',
                                minTime: "06:00:00",
                                maxTime: "18:00:00",
                            },
                            timelineTenDay: {
                                type: 'timeline',
                                duration: { days: 10 },
                                weekends: false,
                                minTime: "06:00:00",
                                maxTime: "18:00:00",
                            },
                            month: {
                                titleFormat: 'MMMM YYYY',
                                weekends: false
                            },
                        },
                        resourceLabelText: 'Rooms',
                        resources: 'https://fullcalendar.io/demo-resources.json?with-nesting',
                        events: 'https://fullcalendar.io/demo-events.json?with-resources',
                        editable: true,
                        eventLimit: true,
                        slotEventOverlap: false,
                        eventClick: function (event, jsEvent, view) {
                            $('#modalTitle').html(event.title);
                            $('#modalBody').html('Start: ' + event.start.format('h:mm') + "<br>" + 'End: ' + event.end.format('h:mm') + "<br>" + 'Detail: ' + event.description);
                            $('#fullCalModal').modal();
                        },
                    });
                });

            </script>
        </div>
    </div>
</body>